body {
  background: url(../img/bg.jpg) #F4F5F6 center top repeat-x;
  font-family: 'Oxygen', sans-serif;

}

html,
body {
  height: 100%;
}

.topbar .container{
  margin-bottom: 20px;
  padding:0;
  border-radius: 0 0 12px 12px;
  width: 520px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left:-260px;

}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -100px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 120px;
}
#footer {
  background-color: #f5f5f5;
  padding: 20px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
  }
}

.container {
  max-width: 1170px;
  background-color: #FFF;
  padding: 20px;
}

ul, ol {
  margin: 0;
}

small{
  letter-spacing: 0.09em;
}

label{
  font-size: 11px;
}

.descriptive{
  margin: 5px 0;
  display: inline-block;
}

.search-choice-item {
  list-style: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #F4F5F7;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #AAA;
  position: relative;
  padding: 4px 12px;
  margin: 3px 0 3px 5px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}


.search-choice-item .search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url('../img/chosen-sprite.png') right top no-repeat;
}

.input-medium {
  max-width: 120px;
}

.accordion{
  max-width: 220px;
}
.accordion-heading .accordion-toggle{
  display: inline;
  padding: 0;
}

.accordion-heading{
  padding: 5px;
}
.accordion-inner ul li{
  display: block;
}

.accordion .btn{
  font-size: 12px;
  line-height: 1.2em;
  margin-top: 4px;
  z-index: 10;

}

.label-recessed {
  display: inline-block;
  padding: 2px 8px;
  margin: 0;
  border-radius: 12px;
  background-color: #eaeaea;
  background-color: rgba(0, 0, 0, 0.07);
  color: #a09699;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-style: normal;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid white;
  -webkit-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.4),0 0 0 black;
  -moz-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.4),0 0 0 black;
  box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.4),0 0 0 black;
}

.label-recessed-skinny {
  line-height: 1em;
}

#returnCount{
  font-weight: bold;
  font-size:14px;
}

.facetcount{
  color: #3a87ad;
}

.resultitem{
  margin-top: 6px;
}

.booleanholder{
  font-size: 11px;
  margin-bottom: 10px;
}


#wellholder .span3{
    -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
    padding: 0 10px;
  border: 1px #f5f5f5 solid;
}

.loader{
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

/*about pages*/
.navbar-inner{
  padding-left: 0;
}

.navbar-inner .container-fluid{
  padding-left: 0;
}

.tab-pane{
padding: 0 30px 0 10px;
}

.tab-pane p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tab-pane h5{
  margin:20px 0 10px 0;
}

.tab-pane .nav-tabs{
  margin: 0 15px 0 0;
}
.tab-pane ul, .tab-pane ol {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 10px 25px;
}

.tab-pane .aboutlist{
  list-style: none;
}

.aboutlist li{
  padding: 15px 0;
  clear: both;
}



.image{
  width: 220px;
  text-align: center;
  font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#theQuery ul, #theQuery ol{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 
}


#theQuery li{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 10px 25px;
}

#tab6.tab-pane{
  padding: 0; 
}
#tab6.tab-pane ul{
  margin: 0;
}